.article-user-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


}

.header-article img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-top: 15px;

}

.article-greet {
  width: 90%;
}

.article-greet h2 {

  color: #2C2E31;
  text-align: center;
  font-size: 30px;
  margin-bottom: 10px;
  height: auto;
  overflow-wrap: anywhere;


}

.article-greet h3 {
  color: rgb(107, 102, 102);
  text-align: center;


}

.article-user-info .article-buttons {
  width: 95%;
  display: flex;
  justify-content: space-around;



}

.icon-info {
  color: #83BA43;
  font-size: 28px;
}

.article-buttons span {
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-top: 20px;

}

/*************************RESPONSIVE****************************/