body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color:#ffffff ;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: linear-gradient(to bottom, #2C2E31 50% ,#f9f9f9 50%) ;
    height: 100vh;
    user-select: none;
    
}
h1{
   font-size: 40px;
   color: rgb(255, 255, 255);
   margin-top: -220px;
   margin-bottom: 90px;
 
}
.random-user{
 position: relative;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 margin: 0 auto;
 width: 700px;
 height: 400px;
 background-color: #ffffff;
 
}
.user-random-button{
position: absolute;
bottom: 5px;
 width: 90%;
 height: auto;
 padding: 10px;
 background-color: #2C2E31;
 color: white;
 font-size: 20px;
 cursor: pointer;
 user-select: none;
}
.user-random-button:hover{
filter: brightness(1.3);
filter: opacity(0.9);
}

/*RESPONSIVE */

@media screen and (max-width:728px){
    h1{
        font-size: 28px;
    }
    .random-user{
        width: 500px;
        height: 400px;
       
       }
      

}

@media screen and (max-width:510px){
    h1{
        font-size: 20px;
    }
    .random-user{
        width: 400px;
        height: 500px;
       
       }
      

}