body {

    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: linear-gradient(to bottom, #2C2E31 50%, #f9f9f9 50%);
    height: 100vh;
    user-select: none;

}

.random-user {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #ffffff;


}

h1 {
    width: 95%;
    text-align: center;
    font-size: 40px;
    color: rgb(0, 0, 0);


}

.user-random-button {
    width: 85%;
    height: auto;
    padding: 10px;
    background-color: #2C2E31;
    color: white;
    font-size: 20px;
    cursor: pointer;
    user-select: none;
    margin-bottom: 10px;
}

.user-random-button:hover {
    filter: brightness(1.3);
    filter: opacity(0.9);
}

/*************************RESPONSIVE****************************/